/* ------------------- Fuentes ------------------------- */
@font-face {
    font-family: lato-regular;
    src: url('../fonts/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: lato-bold;
    src: url('../fonts/Lato/Lato-Bold.ttf');
}

@font-face {
    font-family: poppins-bold;
    src: url('../fonts/Poppins/Poppins-Bold.ttf');
}

/* ------------------- General ------------------------- */

body {
    font-family: lato-regular;
}

.input-group, .form-control, .input-group-text {
    border-radius: 0 !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: poppins-bold;
}

.tituloLink {
    color: #0D0A0F;
    text-decoration: none;
    font-family: poppins-bold;
}

.tituloLink:hover {
    color: #F26522;
    font-weight: 900;
}

.iframe-container {
    overflow: hidden;
    padding-top: 56.25%; /* 16:9*/
    position: relative;
}

.iframe-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/* ------------------- Genericos ------------------------- */
.detras {
    z-index: -1;
}

.zIndex0 {
    z-index: 0;
}

.delante {
    z-index: 1;
}

.blanco {
    color: white;
}

.oculto-opacidad {
    opacity: 0;
}

.fondo-amarillo {
    background-color: #ffc20b;
}

.fondo-naranja {
    background-color: #F26522;
}

video {
    object-fit: fill;
    min-height: 100%;
}

.boton-llamativo {
    padding: 0.77777778rem 3.16666667rem;
    font-size: 1.11111111rem;
    line-height: 1.66666667rem;
    border-radius: 0;
    font-family: 'poppins-bold';
    border-color: #00B2C1;
    background-color: #00B2C1;
    color: #fff;
}

.boton-llamativo:hover {
    color: #fff;
    background-color: #33c1cd;
    border-color: #33c1cd;
}

/* ------------------- Header ------------------------- */

/* Navbar-brand */
a.navbar-brand {
    height: 60px;
    width: 200px;
}

.logo {
    position: absolute;
    transition: opacity 0.5s linear;
}

#logo-normal {
    opacity: 1;
}

#logo-animado {
    position: absolute;
    transition: opacity 0.5s linear;
}

@media (min-width: 992px) {
    #logo {
        display: none !important;
    }

    #logo-animado {
        display: none !important;
    }

    a.navbar-brand {
        width: 50px;
        margin-right: 40px;
    }
}

@media (min-width: 1200px) {
    #logo {
        display: inline !important;
    }

    #logo-animado {
        display: inline !important;
    }

    a.navbar-brand {
        width: 200px;
    }
}

/* Navbar */
.navbar-nav {
    font-family: poppins-bold;
    font-size: 18px;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(242,101,34, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-toggler {
    color: rgb(255 255 255 / 55%);
    border-color: rgba(0, 0, 0, .1);
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .nav-link, a.nav-link span {
    font-family: poppins-bold;
    color: #F26522;
    border-bottom: solid 2px transparent;
    border-top: solid 2px transparent;

}

.navbar-light .navbar-nav .nav-link:hover {
    color: #F7941D;
    border-bottom-color: #F7941D;
    transition: border 0.3s linear;
}

.navbar-light .navbar-nav .nav-link.active {
    border-bottom: solid 2px #F7941D;
}

.nav-link {
    padding: .2rem 1rem;
    letter-spacing: 1.5px;
}

.nav-button {
    border: solid 2px #F26522 !important;
}

.nav-button:hover {
    border: solid 2px #F7941D !important;
    transition: none !important;
}

.nav-button-bold {
    background-color: #00B2C1;
    color: #fff !important;
    border: solid 2px transparent;
}

.nav-button-bold:hover {
    background-color: #33c1cd;
    border: solid 2px #33c1cd !important;
    border: solid 2px transparent;
}


@media (max-width: 992px) {
    a.nav-link {
        border: none !important;
    }

    .nav-link:hover {
        border: none !important;
    }

    .active {
        border: none !important;
    }
}

/* ------------------- Footer ------------------------- */

footer {
    background-color: #ffc20b;
    color: #0D0A0F;
    font-size: 0.9em;
}

footer a {
    color: #0D0A0F;
    text-decoration: none;
    padding-bottom: 3px;
    transition: border-bottom 0.3s ease-in;
    border-bottom: solid 2px transparent;
}

footer a:hover {
    color: #0D0A0F;
    border-bottom: solid 2px #0D0A0F;

}

.social a {
    border-bottom: none;
    transition: color 0.3s ease-in;
}

.social a:hover {
    border-bottom: none;
    color: #404040;
    transition: color 0.3s ease-in;
}


/* ------------------- Página de inicio ------------------------- */

/* Banner */
#banner-principal, #banner-principal a {
    font-family: poppins-bold;
    color: white;

}

.fondo-banner {
    height: 50vh;
    background: linear-gradient(-45deg, #00b2c1, #f7941d, #f26522);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;

}

#contenido-banner {
    z-index: 2;
}

.link-banner {
    transition: 0.3s;
}

.link-banner:hover {
    transform: translateY(-4px);
    transition: 0.3s;
}

#fondo-imagen {
    top: -10px;
    bottom: 0;
    left: 1vw;
    right: 0;
    background-image: url(../img/Inicio/PngItem_14348.png);
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: top;
    z-index: 1;

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


@media (min-width: 700px) {
    .texto-banner {
        font-size: 4.5em !important;
    }

    #fondo-banner {
        height: 60vh;
    }
}

.texto-banner {
    font-size: 10vw;
    letter-spacing: 3px;
}


/* Listado jugadores */

div.cardJugador {
    transition: transform 0.5s ease;
}

div.cardJugador:hover {
    transform: scale(1.02);
}

img.fichado {
    opacity: 0.6;
}

.estadoPill {
    z-index: 1;
    border-radius: 0;
}

.fondo {
    background: linear-gradient(to bottom, #F26522 40%, #ffffff 40%);
    z-index: 0;
}

.fondo-amarilloblanco {
    background: linear-gradient(to bottom, #FFC20E 50%, #ffffff 50%);
    z-index: 0;
}
.fondo-gradiente {
    background: linear-gradient(-45deg, #00b2c1, #f7941d, #f26522);
}
.card, .card img {
    border-radius: 0;
}

div#infoJugadores {
    font-family: poppins-bold;
    color: #fff;
    font-size: 18px;
}

div#filtros, div#filtros a {
    font-family: poppins-bold;
    color: #fff !important;
}

div#filtros label.titulo {
    -webkit-box-shadow: 0px 8px 0px -5px #FFFFFF;
    box-shadow: 0px 8px 0px -5px #FFFFFF;
    margin-bottom: 1em;
    font-size: 18px;
}

div#filtros input {
    color: #0D0A0F !important;
}

div#filtros .form-check-input:checked {
    background-color: #00B2C1;
    border-color: #00B2C1;
}

.form-check-input:focus, .form-control:focus {
    border-color: #00B2C1;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(0 160 174 / 30%);
}

#caja-jugadores {
    min-height: 100vh;
}

em.highlight {
    font-style: normal;
    position: relative;

}

em.highlight::before {
    background-color: #F7941D;
    content: " ";
    height: 28%;
    position: absolute !important;
    left: 0;
    margin-left: -5px;
    top: 65%;
    width: calc(100% + 10px);
    z-index: -1;
}

.hide-video {
    height: 215px;
    width: 360px;
}