
@font-face {
    font-family: work-sans-regular; 
    src: url('../fonts/Work_Sans/WorkSans-Regular.ttf'); 
}
@font-face {
    font-family: montserrat-black; 
    src: url('../fonts/Montserrat/Montserrat-Black.ttf'); 
}


* {
    font-family: work-sans-regular;
}


h1, h2, h3, h4,h5,h6 {
    font-family: montserrat-black; 
}

/* General */
.detras {
    z-index: -1;
}

/* Header */

/* NavBar */
.navbar-light .navbar-nav .nav-link {
    color: #373737;
    border-bottom: solid 3px transparent;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #000;
    border-bottom: solid 3px #FB8B24;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #E36414;
}

.nav-link {
    padding: .2rem 1rem;
    letter-spacing: 1.5px;
}


@media (max-width: 991px) {
    .navbar-light .navbar-nav .nav-link:hover {
        color: #000;
        border-bottom: solid 3px transparent;
    }  
} 


/* TopBar */
.top-bar div.col a {
    color: #373737;
    text-decoration: none;
}

div.top-bar a:hover { 
    color: #E36414;
}

/* Página de inicio */ 

/* Banner */
.fondo-banner {
    z-index: -1;
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/inicio/banner-md.jpg");

    /* Set a specific height */
    height: 50%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.texto-banner {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 3px 4px 5px #383838;
}

.principal-banner {
    font-size: 5vw;
    letter-spacing: 3px;
}
.secundario-banner {
    font-size: 2vw;
    letter-spacing: 2px;
}

footer {
    background-color: #373737;
}